<div class="d-flex flex-column justify-content-between bg-white p-lg-4 px-4">
  <h3 class="d-none d-lg-block">Utrustning</h3>
  <hr class="d-none d-lg-block" />
  <app-legend-equipment-switch></app-legend-equipment-switch>
  <hr />
  <app-select-weapon></app-select-weapon>
  <app-select-weapon [isOffhand]="true"></app-select-weapon>
  <hr />
  <app-select-armor [armorSlot]="armorSlots.Head"></app-select-armor>
  <app-select-armor [armorSlot]="armorSlots.Shoulders"></app-select-armor>
  <app-select-armor [armorSlot]="armorSlots.Chest"></app-select-armor>
  <app-select-armor [armorSlot]="armorSlots.Hands"></app-select-armor>
  <app-select-armor [armorSlot]="armorSlots.Legs"></app-select-armor>
  <app-select-armor [armorSlot]="armorSlots.Feet"></app-select-armor>
</div>
