<div class="d-flex flex-column justify-content-between bg-white p-lg-4 px-4">
  <h3 class="d-none d-lg-block">Utrustning</h3>
  <hr class="d-none d-lg-block" />
  <app-legend-equipment-switch></app-legend-equipment-switch>
  <hr />
  <app-select-weapon class="my-2"></app-select-weapon>
  <app-select-weapon class="my-2" [isOffhand]="true"></app-select-weapon>
  <!-- <app-select-mainhand class="my-2"></app-select-mainhand>
  <app-select-offhand class="my-2"></app-select-offhand> -->
  <hr />
  <app-select-armor [armorSlot]="armorSlots.Head" class="my-2"></app-select-armor>
  <app-select-armor [armorSlot]="armorSlots.Shoulders" class="my-2"></app-select-armor>
  <app-select-armor [armorSlot]="armorSlots.Chest" class="my-2"></app-select-armor>
  <app-select-armor [armorSlot]="armorSlots.Hands" class="my-2"></app-select-armor>
  <app-select-armor [armorSlot]="armorSlots.Legs" class="my-2"></app-select-armor>
  <app-select-armor [armorSlot]="armorSlots.Feet" class="my-2"></app-select-armor>
</div>
