<nav class="navbar bg-white shadow">
  <div class="container-fluid">
    <div>
      <app-navbar-brand></app-navbar-brand>
    </div>
    <div class="row">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 d-flex flex-row">
        <li class="nav-item">
          <button class="btn p-2" data-bs-toggle="offcanvas" href="#settings" role="button" aria-controls="settings"><i class="bi bi-gear-fill"></i></button>
        </li>
        <li class="nav-item">
          <button class="btn p-2" data-bs-toggle="offcanvas" href="#builds" role="button" aria-controls="settings"><i class="bi bi-file-earmark-person-fill"></i></button>
        </li>
        <li class="nav-item">
          <button class="btn p-2" data-bs-toggle="offcanvas" href="#armory" role="button" aria-controls="settings"><i class="armory-button-icon"></i></button>
        </li>
        <li>
          <button class="btn p-2" data-bs-toggle="offcanvas" href="#statistics" role="button" aria-controls="settings"><i class="bi bi-bar-chart-fill"></i></button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-start" [ngClass]="widthOfCanvas()" tabindex="-1" id="settings" aria-labelledby="settings">
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">Inställningar</h4>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <hr class="mt-0" />
  <div class="offcanvas-body p-0">
    <app-settings></app-settings>
  </div>
</div>

<div class="offcanvas offcanvas-start" [ngClass]="widthOfCanvas()" tabindex="-1" id="builds" aria-labelledby="builds">
  <div class="offcanvas-header" style="box-shadow: 5px black">
    <h4 class="offcanvas-title">Sparade builds</h4>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <hr class="mt-0" />
  <div class="offcanvas-body p-0">
    <app-builds></app-builds>
  </div>
</div>

<div class="offcanvas offcanvas-start" [ngClass]="widthOfCanvas()" tabindex="-1" id="armory" aria-labelledby="armory">
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">Utrustning</h4>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <hr class="mt-0" />
  <div class="offcanvas-body p-0">
    <app-armory></app-armory>
  </div>
</div>

<div class="offcanvas offcanvas-start" [ngClass]="widthOfCanvas()" tabindex="-1" id="statistics" aria-labelledby="statistics">
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">Statistik</h4>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <hr class="mt-0" />
  <div class="offcanvas-body p-0">
    <app-statistics></app-statistics>
  </div>
</div>
