<!-- <mat-form-field class="">
    <mat-label>Välj vapenfärdighet</mat-label>
    <mat-select [formControl]="chooseWeaponSkill">
        @for(skill of weaponSkills; track skill){
            <mat-option [value]="skill">
                {{skill}}
            </mat-option>
        }
    </mat-select>
</mat-form-field> -->

<label class="form-label" for="weaponSkillSelector">Välj vapenfärdighet</label>
<select class="form-select" name="weaponSkillSelector" [formControl]="chooseWeaponSkill">
    @for(skill of weaponSkills; track skill){
        <option [value]="skill">{{skill}}</option>
    }
</select>
