<app-desktop-nav></app-desktop-nav>
<div class="container" style="max-width: 1920px">
  <div class="d-flex flex-row justify-content-between mt-2">
    <div class="d-flex flex-column col-3 p-2">
      <app-settings class="mb-3"></app-settings>
      <app-builds></app-builds>
    </div>
    <div class="col-6 p-2">
      <app-table class="mb-3"></app-table>
    </div>
    <div class="d-flex flex-column col-3 p-2">
      <app-armory class="mb-3"></app-armory>
      <app-donate></app-donate>
    </div>
  </div>
</div>
