<form [formGroup]="tableForm">
  <div class="table-responseive">
    <table class="table table-bordered" style="border-collapse: separate; border-spacing: 0">
      <thead>
        <tr>
          <!-- prettier-ignore -->
          <th *ngFor="let header of headers" class="text-center align-middle">
            <!-- If header is not VF, use header -->
            @if(header !== 'VF'){
              <div>
                {{ header }}
                
                <!-- If header is not Grad, Utplacerade Poäng, and has stats, show -->
                @if(race.stats && weaponSkill && header !== 'Grad' && header !== 'Utplacerade Poäng'){
                  <div class="race-bonus-text">({{ getRaceBonusFromStats(header, race) }}%)</div>
                }
              </div>
            } 
            @else { 
              <!-- If header is VF, show weaponSkill -->
              <!-- If weaponSkill is not set, show header -->
              @if(weaponSkill === ''){
                <div>
                  {{ header }}
                </div>
              } 
              @else { 
                <!-- If race is selected, has weaponSkills bonuses applied and weaponSkill is set -->
                @if(race.weaponSkills && weaponSkill){
                  {{ weaponSkill }}
                  <div class="race-bonus-text">({{ getRaceBonusFromWeaponSkill(weaponSkill, race) }}%)</div>
                } 
                @else {
                  <!-- If no race is selected, just show weaponSkill -->
                  {{ weaponSkill }}
                } 
              } 
            }
          </th>
        </tr>
      </thead>

      <tbody>
        <ng-container formArrayName="rows">
          <tr *ngFor="let level of tableFormArr.controls; let i = index; let l = last" [formGroupName]="i" class="">
            <!-- Levels -->
            <td class="col-1 m-0 p-0 position-sticky">
              <input class="form-control-plaintext text-center p-0 default-cursor" id="level" formControlName="level" readonly />
            </td>

            @for(column of formNames; track column){
            <td class="col-1 m-0 p-0">
              <input type="text" class="form-control text-center border-0 p-0 m-0" [id]="column" [formControlName]="column" onlyNumber />
            </td>
            }

            <!-- Placed Points-->
            @if(level.valid){
            <td class="col-1 p-0 m-0">
              <div class="col-12 text-center p-0 m-0 default-cursor">{{ level.value.placedPoints }}/{{ level.value.level === 1 ? "150" : "20" }}</div>
            </td>
            } @if(level.invalid){
            <td class="col-1 p-0 m-0 bg-danger-subtle">
              <div class="col-12 text-center p-0 m-0 default-cursor">{{ level.value.placedPoints }}/{{ level.value.level === 1 ? "150" : "20" }}</div>
            </td>
            }
          </tr>
        </ng-container>
      </tbody>

      <tfoot>
        <tr>
          <td class="text-center fw-bold" style="border-top: 1px solid black !important">
            <span class="default-cursor">Totalt</span>
          </td>
          @for(attribute of Object.values(this.total); track 0){
          <td class="text-center fw-bold" style="border-top: 1px solid black !important">
            <span class="default-cursor">
              {{ attribute }}
            </span>
          </td>
          }
          <td class="text-center fw-bold" style="border-top: 1px solid black !important">
            <span class="default-cursor">{{ totalPlacedPoints }}</span>
          </td>
        </tr>

        <tr>
          <td class="text-center fw-bold">
            <span class="default-cursor">Total m. bonus</span>
          </td>
          @for(attribute of Object.values(this.totalWithRaceBonus); track 0){
          <td class="text-center fw-bold">
            <span class="default-cursor">
              {{ attribute }}
            </span>
          </td>
          }
          <td class="text-center fw-bold">
            <span class="default-cursor">{{ totalWithRaceBonusPlacedPoints }}</span>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</form>
