<form [formGroup]="tableForm">
  <div class="table-responseive">
    <table class="table table-bordered" style="border-collapse: separate; border-spacing: 0">
      <thead>
        <tr>
          <th *ngFor="let header of headers" class="text-center align-middle">
            <!-- If header is not VF -->
            @if(header !== 'VF'){
            <div>
              {{ header }}
              @if(race.stats && weaponSkill && header !== 'Grad' && header !== 'Utplacerade Poäng'){
              <div class="race-bonus-text">({{ getRaceBonusFromStats(header, race) }}%)</div>

              }
            </div>
            } @else { @if(weaponSkill === ''){
            <div>
              {{ header }}
            </div>
            } @else { @if(race.weaponSkills && weaponSkill){
            {{ weaponSkill }}
            <div class="race-bonus-text">({{ getRaceBonusFromWeaponSkill(weaponSkill, race) }}%)</div>
            } @else {
            {{ weaponSkill }}
            } } }
          </th>
        </tr>
      </thead>

      <tbody>
        <ng-container formArrayName="rows">
          <tr *ngFor="let level of tableFormArr.controls; let i = index; let l = last" [formGroupName]="i" class="">
            <!-- Levels -->
            <td class="col-1 m-0 p-0 position-sticky">
              <input class="form-control-plaintext text-center p-0 default-cursor" id="level" formControlName="level" readonly />
            </td>

            @for(column of formNames; track column){
            <td class="col-1 m-0 p-0">
              <input type="text" class="form-control text-center border-0 p-0 m-0" [id]="column" [formControlName]="column" onlyNumber />
            </td>
            }

            <!-- Placed Points-->
            @if(level.valid){
            <td class="col-1 p-0 m-0">
              <div class="col-12 text-center p-0 m-0 default-cursor">{{ level.value.placedPoints }}/{{ level.value.level === 1 ? "150" : "20" }}</div>
            </td>
            } @if(level.invalid){
            <td class="col-1 p-0 m-0 bg-danger-subtle">
              <div class="col-12 text-center p-0 m-0 default-cursor">{{ level.value.placedPoints }}/{{ level.value.level === 1 ? "150" : "20" }}</div>
            </td>
            }
          </tr>
        </ng-container>
      </tbody>

      <tfoot>
        <tr>
          @for(attribute of Object.values(this.total); track 0){
          <td class="text-center fw-bold" style="border-top: 1px solid black !important">
            <span class="default-cursor">
              {{ attribute }}
            </span>
          </td>
          }
        </tr>

        <tr class="">
          @for(attribute of Object.values(this.totalWithRaceBonus); track 0){
          <td class="text-center fw-bold">
            <span class="default-cursor">
              {{ attribute }}
            </span>
          </td>
          }
        </tr>
      </tfoot>
    </table>
  </div>
</form>
