<div class="bg-white p-lg-4 px-4">
  <h3 class="d-none d-lg-block">Donera</h3>
  <hr class="d-none d-lg-block" />
  <div class="d-flex flex-row justify-content-between row g-3">
    <div class="col-6">
      <p>Donationer tages tacksamt emot och bidrar till att jag kan vidareutveckla detta verktyg :-)</p>
    </div>
    <div class="col-6 my-auto text-center">
      <button class="btn btn-outline-light float-" style="border: solid 1px rgb(230, 230, 230); max-width: 250px" onclick="window.open('https://www.paypal.com/paypalme/esaniq', '_blank')">
        <img src="assets/images/paypalme.png" alt="Paypal donate button" class="img-fluid" />
      </button>
    </div>
  </div>
</div>
